*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: monospace;
}

body{
  background-color: #0d6965;
}   

h1{
  color: #333;
  text-align: center;
  margin-top: 20px;
} 
div{
  padding: 20px;
}